  <link rel="stylesheet" href="/css/menu.css">

  <br>
  <table class="table" border="1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Texto</th>
        <th scope="col" colspan="3"></th>
      
      </tr>
    </thead>
  <tbody>
    {{#each posts}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.titulo}}</td>
            <td>{{this.texto}}</td>

            <td class="linha">
                  <a href="/posts/delete/{{this.id}}" class="btn btn-outline-danger">Excluir</a>
            </td>
            <td class="linha">
                  <a href="/posts/edit/{{this.id}}" class="btn btn-outline-warning">edit</a>
            </td>
            <td class="linha">
                <a href="/posts/view/{{this.id}}" class="btn btn-outline-secondary">Visualizar</a>
            </td>
        </tr> 
    {{/each}}
  </tbody>
</table>

